body{
    margin: 10% 20% 10% 20%;
}
h1 {
    color: ;
    /* Setze unter color eine Farbe ein */
}

h2 {
    color: ;
    /* Setze unter color eine Farbe ein */
}

#lorem1 {
    color: ;
    /* Setze unter color eine Farbe ein */
}

#lorem2 {
    color: ;
    /* Setze unter color eine Farbe ein */
}

#lorem3 {
    color: ;
    /* Setze unter color eine Farbe ein */
}
